@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: rgb(238, 223, 205);
    color: rgb(88, 88, 88);
}
h1, h2 {
    font-family: 'Merienda One', cursive;
}
a {
    color: rgb(88, 88, 88);
}
a:hover {
    color: rgb(88, 88, 88);
}
a:hover img {
    transform: scale(105%) rotate(1deg);
    transition: 1s;
}
.subTitle {
    width: 80%;
}
@media (min-width: 1200px){
    .subTitle {
        width: 30%;
    }
}